<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.axelyray.tramas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="   Trama CRC"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />
        <activity
            android:name=".TramaHDLC"
            android:label="   Trama HDLC"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TramaPPP"
            android:label="   Trama PPP"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Enthernet"
            android:label="   Trama Ethernet"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".trama802"
            android:label="   Trama 802.11"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>
</manifest>